<h1> Edit Profile </h1>
<table width="100%">
<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="errorExplanation">
      <h4>
         <%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:
      </h4>
        <% @user.errors.full_messages.each do |msg| %>
						<%= msg %><br/>
        <% end %>
    </div>
  <% end %>
  	<tr>
    <td> *) <%= f.label :email %> </td>
    <td> : </td> <td><%= f.text_field :email %> </td>
  </tr> 
  <tr> 
    <td>*) <%= f.label :password %></td>
    <td> : </td> <td> <%= f.password_field :password %> </td>
  </tr> 
  <tr> 
    <td>*) <%= f.label :password_confirmation %></td>
    <td> : </td> <td><%= f.password_field :password_confirmation %></td> 
  </tr> 
  <tr> 
    <td> *) <%= f.label :name %> </td>
    <td> : </td> <td> <%= f.text_field :name %> </td>
  </tr>
  <tr> 
    <td> <%= f.label :address %> </td>
    <td> : </td> <td> <%= f.text_area :address, :rows => 6, :cols => 43 %>  </td>
  </tr>
  <tr> 
    <td> <%= f.label :phone_number %></td>
    <td> : </td> <td> <%= f.telephone_field :phone_number %> </td>
  </tr>
  <tr> 
    <td> <%= f.label :birthday %> </td>
    <td> : </td> <td> <%= f.date_select :birthday, :start_year => 1970, :end_year => Time.now.year %> </td>
  </tr>
  <tr> 
    <td> <%= f.label :gender %> </td>
    <td> : </td> <td> <%= f.radio_button :gender, false %> Male
    <%= f.radio_button :gender, true %> Female </td>
  </tr>
  <tr> 
    <td> <%= f.label :facebook %></td>
    <td> : </td> <td> <%= f.text_field :facebook %></td>
  </tr>
  <tr> 
    <td> <%= f.label :blog %> </td>
    <td> : </td> <td> <%= f.text_field :blog %></td> 
  </tr>
	<tr>
  	<td> <p class="button"><%= f.submit 'Edit'%></p> </td>
	</tr>
<% end %>
</table>
