<section>
  <h1> Listing Product </h1>
	<ul id="product">
		<% @products.each do |p| %>
			<li> Name : <%= p.name %> <br/>
					Price : <%= p.price %> <br/>
					<%= link_to 'See more', product_path(p.id), :method => :GET %>
			</li>
		<% end %>
	<div class="clear"></div>
	</ul>
</section>

<section>
<h1> Latest Article </h1>
	<% @articles.each do |a| %>
		<article> 
			<p> <%= truncate(a.body, :length => 80) %> </p>
			<p> <%= link_to 'Read more', article_path(a.id), :method => :GET %> </p>
    </article>
	<% end %>
</section>
