<h1>Sign Up</h1>

<h3><%= flash[:error] %></h3>

<%= form_for @user do |f| %> 
  <% if @user.errors.any? %> 
    <div class="error_messages"> 
      <h2>Form is invalid</h2> 
        <% for message in @user.errors.full_messages %> 
        <em><strong>  <%= message %> </strong> </em> <br/>
        <% end %> 
    </div> 
  <% end %> 
<table width="100%">
	<tr>
    <td> *) <%= f.label :email %> </td>
    <td> : </td> <td><%= f.text_field :email %> </td>
  </tr> 
  <tr> 
    <td>*) <%= f.label :password %></td>
    <td> : </td> <td> <%= f.password_field :password %> </td>
  </tr> 
  <tr> 
    <td>*) <%= f.label :password_confirmation %></td>
    <td> : </td> <td><%= f.password_field :password_confirmation %></td> 
  </tr> 
  <tr> 
    <td> *) <%= f.label :name %> </td>
    <td> : </td> <td> <%= f.text_field :name %> </td>
  </tr>
  <tr> 
    <td> <%= f.label :address %> </td>
    <td> : </td> <td> <%= f.text_area :address, :rows => 6, :cols => 43 %>  </td>
  </tr>
  <tr> 
    <td> <%= f.label :phone_number %></td>
    <td> : </td> <td> <%= f.telephone_field :phone_number %> </td>
  </tr>
  <tr> 
    <td> <%= f.label :birthday %> </td>
    <td> : </td> <td> <%= f.date_select :birthday, :start_year => 1970, :end_year => Time.now.year %> </td>
  </tr>
  <tr> 
    <td> <%= f.label :gender %> </td>
    <td> : </td> <td> <%= f.radio_button :gender, "0" %> Male
    <%= f.radio_button :gender, "1" %> Female </td>
  </tr>
  <tr> 
    <td> <%= f.label :facebook %></td>
    <td> : </td> <td> <%= f.text_field :facebook %></td>
  </tr>
  <tr> 
    <td> <%= f.label :blog %> </td>
    <td> : </td> <td> <%= f.text_field :blog %></td> 
  </tr>
   <td colspan="3"><%= recaptcha_tags :ssl => true %> </td>
  <tr> 
	<td><%= f.submit 'Sign Up'%></td> 
</td>
<% end %> 
</table>
<em>*) can't empty</em>
