<h1> User Profile </h1>
<h3><%= flash[:notice] %></h3>
<p>
  <b>Email :</b> <%= @user.email %>
</p>
<p>
  <b>Name :</b> <%= @user.name %>
</p>
<p>
  <b>Address :</b> <%= @user.address %>
</p>
<p>
  <b>Phone Number :</b> <%= @user.phone_number %>
</p>
<p>
  <b>Birthday :</b> <%= @user.birthday.to_date.to_s(:long) %>
</p>
<p>
  <b>Gender :</b> <% if @user.gender == false %> Male <% else %> Female <% end %>
</p>
<p>
  <b>Facebook :</b> <%= @user.facebook %>
</p>
<p>
  <b>Blog :</b> <%= @user.blog %>
</p>

