<h1>Comment Lists</h1>
 <p> <i> <%= flash[:notice] %></i> </p>

<table>
  <tr>
    <th> Content </th>
    <th> Article_id </th>
  </tr>
  <% @comments.each do |comment| %>
  <tr> 
    <td> <%= comment.content %> </td>
    <td> <%= comment.article_id %> </td>
  </tr>
  <% end %>
</table>

<%#= link_to 'New Comment', new_comment_path %>

  
