<h1>New Comment</h1>

<%= form_for(@comment) do |c| %>
  <% if @comment.errors.any? %>
    <div id="errorExplanation">
      <h4>
         <%= pluralize(@comment.errors.count, "error") %> prohibited this user from being saved:
      </h4>
      <ul>
        <% @comment.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<%= c.label :content %>
<%= c.text_area :content, :rows => 6%><br>
<%= c.label :article_id%>
<%= c.text_field :article_id %> <br>
<%= c.submit %>
<% end %>

<%= link_to 'Back', comments_path %>
