/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

.container{
  width:960px;
  margin:auto;
}

td{
	vertical-align : top;
}

table.category tr td{
	border-bottom : 1px solid black;
  padding : 3px;
}

.clear{
  clear:both;
}

header {
 padding : 10px;
 border-bottom : 3px solid #000000;
 text-align : center;
 font-weight : bold;
 font-size : 40px;
}

nav{
 
}

nav ul li{
  float:left;
  list-style:none;
  padding : 0;
}

nav ul li a{
	font-size:14px;
  text-decoration:none;
  color: #00CC99 ;
  width: 80px;
  display: block;
  text-align:center;
}

.leftside {
  width : 230px;
  float: left;
	border : 1px solid black;
}

.leftside ul{
	padding:0;
	padding-left : 30px;
}

.leftside ul li{
 	list-style :none;
  padding : 0;
}

.leftside ul li a{
	font-size:12px;
  text-decoration:none;
}

.leftside #category {
	border-top : 1px solid #dddddd;
	padding-left : 30px;
}
.leftside #login{
	margin : 5px 5px 15px 30px;
}

.leftside h3{
	font-size : 14px;
}

.leftside p{
	margin: 0;
	font-size : 12px;
}

.leftside p.parent a{
	color : blue;
	text-decoration : none;
}

.leftside p.child a{
	padding-left : 30px;
	text-decoration : none;
  color: black;
}

.rightside{
  float:right;
  width : 700px;
  font-size: 14px;
	/*border-top : 1px solid #dddddd;*/
}

.rightside h1 {
	font-size : 20px;
	padding-bottom: 10px;
  padding-top : 10px;
	border-bottom : 1px solid black;
  border-top : 1px solid #dddddd;
	margin :0; 
}

.rightside a{
	text-decoration : none;
}

ul#product li{
  float:left;
  list-style:none;
  padding : 5px;
	width : 200px;
	border : 1px solid black;
}

article{
	border-bottom : 1px solid black;
	padding-top : 10px;
	margin-left : 10px;
	padding-left : 5px;
}

section{
  padding-bottom : 20px;
  padding-top : 5px;
	border-bottom : 1px solid #dddddd;
}

#errorExplanation{
	padding-left : 15px;
	color : red;
	font-style : italic;
  font-size : 12px;
}
#comments ul li{
  padding : 10px;
}
