<!DOCTYPE html>
<html>
<head>
  <title>Demo</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag :defaults %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<header><%= raw(welcome_text) %> | <%= link_to 'Articles', articles_path %></header> <br/>
  
<%= yield %>

</body>
</html>
