<h1>Listing Categories</h1>
 <p> <i> <%= flash[:notice] %></i> </p>

<p><%= link_to 'New Category', new_admin_category_path %></p>
	<table width="100%" class="category">
		<tr>
			<th> Name </th>
			<th> Parent Category </th>
		</tr>

  <% @categories.each do |c| %>
	<tr>
		<td> <%= c.name %> </td>
    <td> <% if c.parent_name.nil? %>
						-
				<% else %>
						<%= c.parent_name %> 
				<% end %>				
		</td>
		<td>
  		<%= link_to 'Show', admin_category_path(c.id),:method => :GET %> |
      <%= link_to 'Edit', edit_admin_category_path(c.id), :method => :GET %> |
      <%= link_to 'Destroy', admin_category_path(c.id), :method => :delete, :confirm => 'Are you sure?' %>
		</td>
	</tr>
  <% end %>
	</table>
