<h1>New Category</h1>
<table width="100%">
<%= form_for [:admin, @category] do |c| %>
  <% if @category.errors.any? %>
    <div id="errorExplanation">
      <h4>
         <%= pluralize(@category.errors.count, "error") %> prohibited this user from being saved:
      </h4>
        <% @category.errors.full_messages.each do |msg| %>
          <%= msg %><br/>
        <% end %>
    </div>
  <% end %>
	<tr>
		<td><%= c.label :name %></td>
		<td> : </td> <td><%= c.text_field :name %> </td>
	<tr> </tr>
		<td> Parent Category </td>
		<td> : </td> <td> <%= c.select "parent_id" , @select_category, { :include_blank => '- As Parent -' } %> </td>
	<tr> </tr>
		<td> <%= c.submit 'Create' %> <%= link_to 'Back', admin_categories_path %> </td>
	</tr>
	<% end %>
</table>
