<h1> Category </h1>

<p>
  <b>Id :</b> <%= @category.id %>
</p>
<p>
  <b>Name :</b> <%= @category.name %>
</p>
<p>
  <b>Parent :</b> <% if !@category.parent_id.nil? %>
									<%parent = Category.find(@category.parent_id) %> 
									<%= parent.name%>
									<% else %>
									-
									<% end %>
</p>

<p><%= link_to 'Edit', edit_admin_category_path(@category) %>
<%= link_to 'Back', admin_categories_path %> </p>
