<h1>Listing Products</h1>
 <p> <i> <%= flash[:notice] %></i> </p>
<ul id="product">
  <% @products.each do |product| %>

    <li> Name : <%= product.name %> <br/>
    Price : <%= product.price %> <br/>
		<%= link_to 'See more', product_path(product),:method => :GET %>
		</li>
  <% end %>
</ul>
