<h1> <%= @category.name %> Products </h1>

<% if @products.empty? %>
	<p>	-- No Products for sale yet -- </p>
<% else %>
  <% @products.each do |product| %>
		<p>
    Name : <%= product.name %> <br/>
    Price : <%= product.price %> <br/>
		<%= link_to 'See more', product_path(product),:method => :GET %>
		</p>
  <% end %>
<% end %>

