<h1>New Product</h1>

<h3><%= flash[:error] %></h3>

<%= form_for @product do |a| %>
  <% if @product.errors.any? %>
    <div id="errorExplanation">
      <h4>
         <%= pluralize(@product.errors.count, "error") %> prohibited this user from being saved:
      </h4>
        <% @product.errors.full_messages.each do |msg| %>
          <%= msg %><br/>
        <% end %>
    </div>
  <% end %>

<table width="100%">
	<tr> 
		<td> <%= a.label :name %></td>
		<td> :</td> <td> <%= a.text_field :name %> </td>
	</tr> <tr> 
		<td> <%= a.label :description %></td>
		<td> : </td> <td> <%= a.text_area :description, :rows => 6, :cols => 43 %></td>
	</tr> <tr> 
		<td> <%= a.label :price %> </td>
		<td> : </td> <td><%= a.text_field :price %></td>
	</tr> <tr> 
		<td> <%= a.label :weight %> </td>
		<td> : </td> <td><%= a.text_field :weight %></td>
	</tr> <tr> 
		<td> Category </td>
		<td> : </td> <td><%= a.select "category_id" , @category.map{|u| [u.category_tree, u.id]}, { :include_blank => '- Please Select -' } %> </td>
	</tr> <tr> 
  	<%= a.hidden_field :user_id, :value => session[:user_id] %>
		<td> <%= a.submit 'Create' %> <%= link_to 'Back', articles_path %> </td>
	</tr> <tr> 
<% end %>
</table>

