<h1> Product </h1>

<p>	<% if !session[:user_id].nil? %>
			<% if session[:user_id] == @product.user_id %>
				<%= link_to 'Edit', edit_product_path(@product) %>
				<%= link_to 'Delete', @product, :method => :DELETE, :confirm => 'Are you sure?'%>
			<% end %>
		<% end %>
</p>

<p>
  <b>Category :</b> <%= @category.name %>
</p>
<p>
  <b>Name :</b> <%= @product.name %>
</p>
<p>
  <b>Description :</b> <%= @product.description %>
</p>
<p>
  <b>Price :</b> <%=@product.price %>
</p>
<p>
  <b>Weight :</b> <%=@product.weight %>
</p>

