<h1> Edit Article </h1>
<table width="100%">
<%= form_for(@article) do |a| %>
  <% if @article.errors.any? %>
    <div id="errorExplanation">
      <h4>
         <%= pluralize(@article.errors.count, "error") %> prohibited this user from being saved:
      </h4>
        <% @article.errors.full_messages.each do |msg| %>
					<%= msg %><br/>
        <% end %>
    </div>
  <% end %>
	<tr>
		<td width="24%"> <%= a.label :title %> </td>
		<td width="1%"> : </td> <td width="75%"><%= a.text_field :title %> </td>
	<tr> </tr>
		<td><%= a.label :body %></td>
		<td> : </td> <td> <%= a.text_area :body, :rows => 10 %></td>
	<tr> </tr>
		<%= a.hidden_field :user_id %> <br>
		<td> <%= a.submit %> <%= link_to 'Back', articles_path %> </td>
	</tr>
<% end %>
</table>
