<h1>Listing Articles</h1>
 <p> <i> <%= flash[:notice] %></i> </p>

  <% @articles.each do |article| %>
		<article>
    <p>Title : <%= article.title %> <br/>
    Body : <%= truncate(article.body, :length => 300) %> </br/></p>
      <p><%= link_to 'See detail', article %> </p>
		</article>
  <% end %>  
