<h1> Article </h1>

<p>	
	<% if !session[:user_id].nil? %>
	  <% if session[:user_id] == @article.user_id %>
			<%= link_to 'Edit', edit_article_path(@article) %>
			<%= link_to 'Delete', @article, :method => :DELETE, :confirm => 'Are you sure?'%>
		<% end %>
	<% end %>
</p>

<p>
  <b>Title :</b> <%= @article.title %>
</p>

<p>
  <b>Body :</b> <%= @article.body %>
</p>

<p>
  <b>Updated at :</b> <%= @article.updated_at.to_s(:long) %>
</p>

<strong> Comments : </strong>
<div id="comments">
   <%= render :partial => "comments", :locals => {:comments => @comments}  %>
</div><br /><br />

<div id="spinner" style="display:none;">
   <%= image_tag('spinner.gif')%>
</div>

<% unless(current_user.nil?)%>
 <%= form_for @comment, :url => comments_path, :remote => true do |c| %>
  <% if @comment.errors.any? %>
    <div id="errorExplanation">
      <h4>
         <%= pluralize(@comment.errors.count, "error") %> prohibited this user from being saved:
      </h4>
      <ul>
        <% @comment.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= c.text_area :comment, :rows => 6%><br>
  <%= c.hidden_field :article_id, :value => @article.id %>
  <%= c.hidden_field :user_id, :value => session[:user_id] %>
	<%= c.submit %> 
	<% end %>
<% end %>

<script>
$("#new_comment")
    .bind("ajax:beforeSend", function(){
                $("#spinner").show();
    })
    .bind("ajax:complete", function(){
                $("#spinner").hide();
    })
</script>
