<h1>Log in</h1> 

<h3><%= flash[:error] %> </h3>
<h3><%= flash[:alert] %> </h3>

  <%= form_tag sessions_path do %> 
  <p> 
    <%= label_tag :email %><br /> 
    <%= text_field_tag :email, params[:email] %> 
  </p> 
  <p> 
    <%= label_tag :password %><br /> 
    <%= password_field_tag :password %> 
  </p> 
  <p class="button"><%= submit_tag 'Login' %></p> 
<% end %> 
