<h2>Log in</h2> 

<h4><%= flash[:alert] %> </h4>

  <%= form_tag sessions_path do %> 
  <p> 
    <%= label_tag :email %><br /> 
    <%= text_field_tag :email, params[:email], :size => 15 %> 
  </p> 
  <p> 
    <%= label_tag :password %><br /> 
    <%= password_field_tag :password, '', :size => 15 %> 
  </p> 
  <p class="button"><%= submit_tag 'Login' %></p> 
<% end %> 
