<h1>Article Lists</h1>
 <p> <i> <%= flash[:notice] %></i> </p>

<table>
  <tr>
    <th> Title </th>
    <th> Body </th>
    <th> User Id </th>
    <th>  </th>
  </tr>
  <% @admin_articles.each do |admin_article| %>
  <tr> 
    <td> <%= admin_article.title %> </td>
    <td> <%= admin_article.body %> </td>
    <td align="center"> <%= admin_article.user_id %> </td>
    <td> 
      <%= link_to 'Edit', edit_admin_article_path(admin_article), :method => :GET %>
      <%= link_to 'Delete', admin_article_path(admin_article), :confirm => 'Are you sure?', :method => :delete %>
    </td>
  </tr>
  <% end %>
</table>

<%= link_to 'New Article', new_admin_article_path %>
