<h1> Article </h1>

<p>
  <b>Title :</b> <%= @article.title %>
</p>
<p>
  <b>Body :</b> <%= @article.body %>
</p>
<p>
<p>
  <b>User id :</b> <%= @article.user_id %>
</p>

<p><%= link_to 'Edit', edit_article_path(@article) %>
<%= link_to 'Back', articles_path %> </p>

