<!DOCTYPE html>
<html>
<head>
  <title>Onlinestore</title>
	<%= stylesheet_link_tag    "application" %>
	<%= javascript_include_tag :defaults %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
	<header> 
		 Welcome to my store
	</header>
	<nav>
		<ul>
			<% if session[:user_id].nil? %>
			<li> <%= link_to 'Sign Up', sign_up_path %> </li>
			<% else %>
			<li> <%= link_to 'Home', root_url %> </li>
			<% end %>
			<li> <%= link_to 'Products', products_path %> </li>
			<li> <%= link_to 'Article', articles_path %> </li>
			<% if session[:email] == 'admin@admin.com' %>
			<li> <%= link_to 'Category', admin_categories_path %> </li>
			<% end %>
			<div class="clear" </div>
		</ul>
	</nav>

	<div class="leftside"> 
			<ul>
				<% if session[:user_id].nil? %>				
					<h2>Log in</h2> 
				 	
					  <%= form_tag sessions_path do %> 
					  <p> 
					    <%= label_tag :email %><br /> 
					    <%= text_field_tag :email, params[:email], :size => 15 %> 
					  </p> 
					  <p> 
					    <%= label_tag :password %><br /> 
					    <%= password_field_tag :password, '', :size => 15 %> 
					  </p> 
					  <p class="button"><%= submit_tag 'Login' %></p> 
					<% end %> 
				<% else %>
				<li> <%= link_to 'Edit Profile', edit_user_path(session[:user_id]) %> </li>
				<li> <%= link_to 'Sell a Product', new_product_path %> </li>
				<li> <%= link_to 'Share an Article', new_article_path %> </li>
				<li> <%= link_to 'Logout', log_out_path %> </li>
			</ul>

			<div id="category">
				<% if session[:email] != 'admin@admin.com'%>
					<h3> List Category </h3>
						<% Category.all.each do |c| %>
							<% if c.parent_id.nil?%>
								<p class = "parent"> <%= link_to c.name, list_path(:id => c.id) %> </p>
							<% else%>
								<p class = "child"> <%= link_to c.name, list_path(:id => c.id) %> </p>
							<% end %>
		  			<% end %>
				<% end %>	
			</div>
			<% end %>
	</div>

	<div class="rightside"> 
		<%= yield %>
	</div>
  <div class="clear"> </div>
</div>
</body>
</html>
