<!DOCTYPE html>
<html>
<head>
  <title>Onlinestore</title>
	<%= stylesheet_link_tag    "application" %>
	<%= javascript_include_tag :defaults %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
	<header> 
		 Welcome to my store
	</header>
	<nav>
		<ul>
			<li> <%= link_to 'Sign Up', sign_up_path %> </li>
			<li> <%= link_to 'Products', products_path %> </li>
			<li> <%= link_to 'Article', articles_path %> </li>
			<div class="clear"> </div>
		</ul>
	</nav>

	<div class="leftside">
		<div id = "login" >
		<%= yield %>
		</div>
	</div>

	<div class="rightside"> 
		<h1> Listing Product </h1>
		<ul id="product">
				<% Product.find_by_sql("SELECT * FROM `products` ORDER BY `updated_at` DESC LIMIT 6 " ).each do |p| %>
					<li> Name : <%= p.name %> <br/>
							Price : <%= p.price %><br/>
							<%= link_to 'See more', product_path(p.id),:method => :GET %>
					</li>
				<% end %>
				<div class="clear"></div>
		</ul>
		<h1> Latest Article </h1>
			<% Article.find_by_sql("SELECT * FROM `articles` ORDER BY `updated_at` DESC LIMIT 3 " ).each do |a| %>
				<article> 
					<p> <%= truncate(a.body, :length => 20) %> </p>
					<p> <%= link_to 'Read more', article_path(a.id),:method => :GET %> </p>
    		</article>
			<% end %>
	</div>
	<div class="clear"> </div>
</div>
</body>
</html>
