<h1>Hello from Rails!</h1>
<p>
  It is now <%= Time.now %>
</p>

<p>
  it is <%= @time %> Global Variabel
</p>

<p>
<h3>Fragile Link </h3>
Say <a href="/say/goodbye">Goodbye</a>!
</p>

<p>
<h3> WIth Helper link_to </h3>
Time to say
<%= link_to "Goodbye", say_goodbye_path %>!
</p>

<p>
<%= 1+2 %>
<%= "cow" + "boy" %>
<%= 1.hour.from_now %>
</p>

<% @files = Dir.glob('*') %>
file name is: <ul>
<% for file in @files %>
<li><%= file %></li>
<% end %>
</ul>
