<h1>Article Lists</h1>
 <p> <i> <%= flash[:notice] %></i> </p>

<table>
  <tr>
    <th> Title </th>
    <th> Body </th>
    <th> User Id </th>
    <th>  </th>
  </tr>
  <% @articles.each do |article| %>
  <tr> 
    <td> <%= article.title %> </td>
    <td> <%= article.body %> </td>
    <td align="center"> <%= article.user_id %> </td>
    <td> 
      <%= link_to 'Show', article %>
      <%= link_to 'Edit', edit_article_path(article) %>
      <%= link_to 'Delete', article, :method => :delete %>
    </td>
  </tr>
  <% end %>
</table>

<%= link_to 'New Article', new_article_path %>

  
