<h1>New Article</h1>

<%= form_for(@article) do |a| %>
  <% if @article.errors.any? %>
    <div id="errorExplanation">
      <h4>
         <%= pluralize(@article.errors.count, "error") %> prohibited this user from being saved:
      </h4>
      <ul>
        <% @article.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<%= a.label :title %>
<%= a.text_field :title %> <br>
<%= a.label :body %>
<%= a.text_area :body %><br>
<%#= a.label :user_id %>
<%= a.hidden_field :user_id, :value => session[:user_id] %> <br>
<%= a.submit %>
<% end %>

<%= link_to 'Back', articles_path %>
