<h1> Article </h1>

<p>
  <b>Title :</b> <%= @article.title %>
</p>
<p>
  <b>Body :</b> <%= @article.body %>
</p>
<p>
<p>
  <b>User id :</b> <%= @article.user_id %>
</p>

<p><%= link_to 'Edit', edit_article_path(@article) %>
<%= link_to 'Back', articles_path %> </p>


<div id="comments">
Comments : <br/>
   <%= render :partial => "comments", :locals => {:comments => @comments}  %>
</div><br /><br />


<% unless(current_user.nil?)%>
 <%= form_for @comment, :url => comments_path, :remote => true do |c| %>
  <% if @comment.errors.any? %>
    <div id="errorExplanation">
      <h4>
         <%= pluralize(@comment.errors.count, "error") %> prohibited this user from being saved:
      </h4>
      <ul>
        <% @comment.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<%= c.text_area :content, :rows => 6%><br>
<%= c.hidden_field :article_id, :value => @article.id %>
<%= c.submit %>
<% end %>
<% end %>



